   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

   }

   body {
     background-image: url('./imagens/laranja.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100vh;
     font-family: Arial, sans-serif;
   }

   .logo {
     width: 900px;
     max-width: 80%;
     margin-bottom: 200px;
     /* controla o espaçamento entre logo e botão */
   }

   h1 {
     font-size: 3rem;
     margin-bottom: 50px;
     color: #222;
     text-align: center;
   }

   .btn {
  padding: 20px 50px;    /* altura x largura */
  font-size: 24px;       /* tamanho do texto */
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

   }

   .btn:hover {
      background-color: #45a049;
   }

   /* Responsivo */
   @media (max-width: 600px) {
     h1 {
       font-size: 2rem;
       margin-bottom: 40px;
     }

     .btn {
       padding: 15px 40px;
       font-size: 1.2rem;
     }
   }